.mainContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    width: 99%;
    justify-content: center;
    align-items: center;
    height: 63vh;
    padding: 5px;
}