@font-face {font-family: "Jost-Bold";
	src: url('/fonts/Jost-Bold.ttf'); }
@font-face {font-family: "Jost-Light";
	src: url('/fonts/Jost-Light.ttf'); }
@font-face {font-family: "Jost-Medium";
	src: url('/fonts/Jost-Medium.ttf'); }


	$mainMov:#6236FF;
	$mainDarkMov:#1A1053;
	$mainPurple:#F9345E;
	$mainGreen:#1CB142;
	$mainOrange:#FA6400;
	$mainGray:#817C9b;